{% extends("base.html.twig") %}

{% block main %}
    <h1>{{ single.title }}</h1>
    <img src="{{ asset(single.image) | imagine_filter('big_thumb') }}" alt="image">
    <p>{{ single.content }}</p>
    <p>{{ single.formattedDate }}</p>
{% endblock %}