{% extends("base.html.twig") %}

{% block main %}
    <a href="/news/create" class="btn btn-primary btn-lg">Post news</a>
    <a href="/news/list" class="btn btn-primary btn-lg"> View Last 10 Posts</a>

{% endblock %}